.container {
  background-color: #ffd569;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  width: 100%;
}
.card {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  height: 85vh;
}
.head {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
}
.span {
  color: #ffd569;
}
.imgcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.img {
  height: 200px;
  width: 220px;
}
.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mango {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
}
.banana {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
}
